/* CAN PUT BASIC CSS IN HERE IF YOU PREFER */

/* Universal CSS */
:root {
    --main-green: #88cfd1; /* Main color */
    --accent-green: #57b4b6; /* Accent color */
    --background-light: #f6f6f6; /* Light background color */
    --dark: #333; /* Dark text */
    --light: #fff; /* Light text */
    --border-color: #d1d1d1; /* Border color */
    --yellow: #ffd700; /* Light gray on hover */
}
  
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    background-color: var(--background-light);
    color: var(--dark);
  }
  
/* Body CSS */
h2 {
    background-color: var(--main-green);
    color: var(--light);
    padding: 5px 10px;
}

/* Search bar CSS */
form {
    background-color: var(--accent-green);
    color: var(--light);
    margin-bottom: 5px;
    padding: 10px 15px;
}

.search-bar {
    width: 96%;
}
  
/* Recipe CSS */
.fa-star {
    color: var(--yellow);
    margin: 0;
    padding: 20px;
  }

.recipeContainer {
    padding: 0px 20px;
}  

.cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-top: 15px;
}

.recipe-detail,
.nutritional-info,
.youtube-vid {
    background-color: var(--light);
    border: 1px solid var(--border-color);
    padding: 15px;
    border-radius: 10px;
}

.recipe-detail,
.nutritional-info,
.youtube-vid {
    height: 100%;
    box-sizing: border-box; 
}
  
/* Add this to your existing styles or in a separate CSS file */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#button {
  margin-left: ;
}